{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block meta_title %}{% trans %}Categories{% endtrans %} - {% if category and category.id %}{% trans %}Modify{% endtrans %}{% else %}{% trans %}Add{% endtrans %}{% endif %} {% trans %}a category{% endtrans %}{% endblock %}
{% block header_title %}{% trans %}Categories{% endtrans %}{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item">Blog</li>
        <li class="breadcrumb-item"><a href="{{ url('aropixel_blog_category_index') }}">{% trans %}Categories{% endtrans %}</a></li>
        {% if category and category.id %}
            <li class="breadcrumb-item">{% trans %}Modify{% endtrans %}</li>
        {% else %}
            <li class="breadcrumb-item active">{% trans %}Add{% endtrans %}</li>
        {% endif %}
    </ul>
{% endblock %}



{% block mainPanel %}
    <!-- Form horizontal -->
    <div class="card">

        <div class="card-heading">
            <h5 class="card-header">{% if category and category.id %}{% trans %}Modify{% endtrans %}{% else %}{% trans %}Add{% endtrans %}{% endif %} {% trans %}a category{% endtrans %}</h5>
        </div>

        <div class="card-body">


            <div class="row">
                <div class="col-sm-8">
                    {{ form_row(form.name) }}
                </div>
            </div>


        </div>

    </div>
{% endblock %}
